/* LOGIN */

/*font-family: 'Ropa Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
    background-color: white;
    
}

.login {
    background-color: #99CE81;
    /*display: none;*/
}

@media(min-width: 150px) and (max-width: 600px) {
    #logoCelibook {
        width: 35%;
        margin-left: 32.5%;
        margin-top: 3em;
    }
}

@media(min-width: 601px) and (max-width: 1000px) {
    #logoCelibook {
        width: 25%;
        margin-left: 38%;
        margin-top: 3em;
    }
}

@media(min-width: 1001px) and (max-width: 1500px) {
    #logoCelibook {
        width: 15%;
        margin-left: 42.5%;
        margin-top: 3em;
    }
}

#titleLogin {
    color: white;
    font-size: 2em;
    text-align: center;
}

.emailForgot {
    color: white;
    margin-left: 0%;
}

.bars {
    width: 90%;
    margin-left: 5%;
    margin-top: 0.5em;
}

.btn-primary {
    margin-top: 1em;
    background-color: #9B369D;
    border-radius: 5px;
    color: white;
    width: 100%;
}

.registro {
    color: white;
    text-align: center;
}

#registroClick {
    color: white;
    cursor: pointer;
}

#buttonRegister {
    background-color: #99CE81;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#facebook {
    width: 90%;
    height: 35px;
    border-radius: 4px;
    background: #3b5998;
    color: white;
    border: 0px transparent;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

#facebook:hover {
    background: #3b5998;
    opacity: 0.6;
}

#google {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50%;
    width: 90%;
    height: 35px;
    border-radius: 4px;
    background: white;
    color: #db3236;
    border: 0px transparent;
    text-align: center;
}

#google:hover {
    color: #db3236;
    opacity: 0.6;
}

/* CREAR CUENTA */

#containerCrearcuenta {
    background-color: white;
    padding: 0;
    margin: 0;
}

.crearCuenta {
    width: 100%;
}

#titleRegister {
    text-align: center;
    font-size: 2em;
    color: #99CE81;
}

.inputRegister {
    width: 80%;
    margin-left: 10%;
}

.register {
    padding-right: 0;
}

#logoRegistro {
    margin-top: 5em;
    width: 30%;
    margin-left: 35%;
}

/* BARRA SUPERIOR */

.barTop {
    background-color: #99CE81;
    margin: 0;
    padding: 0;
}

.burger {
    font-size: 30px;
    cursor: pointer;
    margin-left: 0.5em;
    color: white;
    cursor: pointer;
}

/* MENU LATERAL DESPLEGABLE */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #99CE81;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* SECCION MURO */

#containerMuro {
    padding: 0;
}

.carruselFotos {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 5%;
}

.divDisplayNone {
    display: none;
}

.divDisplayBlock {
    display: block;
}

.titleWelcome {
    width: 100%;
}

#welcome {
    margin-top: 2em;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    font-style: 'regular';
}

#subtitleWelcome {
    text-align: center;
    font-size: 0.9em;
}

#logoWall {
    width: 15%;
}

#messageContainer {
    border: #99CE81 1px solid;
    margin-top: 2em;
   
}

#titleWall {
    text-align: center;
    font-size: 1.3em;
    margin-top: 1em;
    font-style: oblique;
}

#messageArea {
    width: 80%;
    height: 3em;
    border: gray 1px solid;
    margin-left: 10%;
    border-radius: 5px;
}

#sendButton {
    position: right;
    color: white;
    background-color: #9B369D;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    margin-left: 70%;
    margin-top: 0.5em;
    cursor: pointer;
}

.containerWall{
    border: 1px solid #99CE81;
    width: 80%;
    margin-top: 1em;
}


#post {
    margin-top: 1em;
    width: 80%;
    margin-left: 10%;
    border-radius: 4px;
}

#buttonPost {
    color: white;
    background-color: #9B369D;
    border-radius: 4px;
    margin-left: 60%;
    border: #9B369D;
    cursor: pointer;
}

.textPostStyle{
    border: 1px solid grey;
    width: 80%;
    margin-left: 10%;
    border-radius: 4px;
    margin-top: 1em;
}

.iconHeart {
    color: grey;
    cursor: pointer;
    margin-left: 60%;
    font-family: Tahoma;
}

.changeColorHeart {
    color: red;
}

.iconEdit {
    color: grey;
    cursor: pointer;
    margin-left: 0.5em;
}

.iconTrash {
    color: grey;
    cursor: pointer;
    margin-left: 0.5em;
}

/*Seccion perfil */

#fotoperfilUsuario {
    margin-top: 3em;
    width: 35%;
    margin-left: 30%;
}

#containerPerfil {
    background-color: white;
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
}

.botonesPerfil {
    text-align: center;
    width: 100%;
}

/*Quienes somos */

#containerQuienesSomos {
    background-color: white;
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
    text-align: center;
}

#fotoCeliacos {
    margin-top: 3em;
    width: 35%;
    margin-left: 30%;
    text-align: center;
}

/*Seccion Salud Integral */

#containerSalud {
    background-color: white;
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
}

/*Seccion Alimentacion */

#containerAlimentacion {
    background-color: white;
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
}

#mapa{
    width: 100%;
}

/*Seccion Actividades*/

#containerActividades {
    background-color: white;
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
}

/*Seccion Noticias*/

#containerNoticias {
    background-color: white;
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
}

/*Seccion PreguntasFrecuentes*/

#containerPreguntasFrecuentes {
    background-color: white;
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
}

/* SECCION DE PREGUNTAS FRECUENTES */

.questionsCol {
    height: 15em;
    text-align: center;
}

#titleQuestions {
    text-align: center;
    color: black;
    font-size: 2em;
    margin-top: 3em;
}

.panel-heading {
    background-color: #9B369D;
    margin: 1em;
    border-radius: 5px;
}

.panel-body {
    background-color: white;
    margin: 1em;
    border: #9B369D 3px solid;
}
.preguntas{
    width: 90%;
}
.titleCollapse {
    color: white;
    font-size: 0.7em;
    margin-left: 1em;
}

#accordion {
    margin-top: 2.5em;
}

/*Volver atras */

#atrasPerfil, #atrasQuienessomos, #atrasSalud, #atrasAlimentacion, #atrasActividades, #atrasNoticias, #atrasPreguntasFrecuentes {
    position: right;
    color: white;
    background-color: #9B369D;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    margin-left: 70%;
    margin-top: 0.5em;
    cursor: pointer;
}

#barranoticias {
    background-color: #9B369D;
    text-align: center;
}
.Titles{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    
}
#noticiasSubtitle{
    margin: 5%;
    text-align: center;
}
.news{
    text-align: center;
    color: white;
    cursor: pointer;
}
.news:hover{
    text-align: center;
    color: #99CE81;
    cursor: pointer;
}

#logosuperior {
    right: 10px;
    width: 30px;
    top: 10px;
    position: absolute;
}

p {
    font-family:'Ropa Sans', sans-serif;
}

h1, h2, h3 {
    font-family:'Roboto', sans-serif;
}